.body{
    background-color: darkblue;
}

.div_center {
    width: 50%;
    margin: 0 auto;
}

.fade.in {
  opacity: 1
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.table-font-style{
    font-size: 15px;
    color: darkgreen;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}