{% extends 'base.html' %}
{% block TITLE %}SATIŞ YAP{% endblock %}

{% block breadcrumb %}
    <nav class="col-sm-8 col-md-8 col-lg-8 offset-2" aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-top: 80px; border-radius: 55px;">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list-notes' %}">Homepage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Not Sat</li>
        </ol>
    </nav>
{% endblock %}

{% block BODY %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4" style="margin-top: 40px">
            <h1 class="page-header">Sell Your Notes</h1>
            <h5 class="text-danger">Please read: </h5>
            <h6 class="text-dark" style="font-family: 'Trebuchet MS'">According to your contact type choice, we'll
                phone (or we'll send message) or e-mail you. We'll choose a point at university and we'll take
                your notes. <u>We don't meet outside of campus.</u></h6>

            <h6 class="text-dark" style="font-family: 'Trebuchet MS'">If there is any information that we need to know, please write it in "Extra note" field.</h6>

            <form method="get" action="{% url 'sell-note' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group" style="margin-top: 20px">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-12">
                                <label class="control-label" style="color: #0f0f0f" for="{{ field.id_for_label }}">
                                    <b>{{ field.label }}</b>
                                </label>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span style="color: red; font-family: 'Calibri Light'; font-size: 17px;"><b>{{ error }}</b></span>
                                    {% endfor %}
                                {% else %}
                                    {% if field.help_text %}
                                        <span class="text-info"
                                              style="color: dodgerblue">{{ field.help_text }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-success float-lg-right" value="Send My Selling Request"
                       style="margin-top: 10px">
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
{% endblock %}