{% extends 'base.html' %}
{% block TITLE %}Recieved Requests{% endblock %}

{% block HEADER %}

    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $(".confirmPayment").click(function () {
                if (confirm('Do you really want to confirm?')) {
                    var $this = $(this);
                    var $url = $this.attr('url');
                    var $username = $this.attr('username');
                    var $payment_id = $this.attr('payment_id');
                    var $note_id = $this.attr('note_id');

                    var data = {username: $username, payment_id: $payment_id, note_id: $note_id};

                    $.ajax({
                        url: $url,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            alert($username + "'s payment has confirmed successfully.");
                            location.reload();
                        }
                    })
                } else {
                    // Do nothing!
                }

            });

            $(".reloadContent").click(function () {
                location.reload()
            });

            $(".cancelPayment").click(function () {
                if (confirm('Do you really want to confirm?')) {
                    var $this = $(this);
                    var $url = $this.attr('url');
                    var $payment_id = $this.attr('payment_id');
                    var $username = $this.attr('username');
                    var data = {'payment_id': $payment_id};

                    $.ajax({
                        url: $url,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            alert($username + "'s payment has canceled.");
                        }
                    });
                } else {
                    // do nothing
                }
            })
        })
    </script>

{% endblock %}

{% block breadcrumb %}
    <nav class="col-sm-8 col-md-8 col-lg-8 offset-2" aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-top: 80px; border-radius: 55px;">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list-notes' %}">Homepage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Staff Payment Page</li>
        </ol>
    </nav>
{% endblock %}

{% block BODY %}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Payment Notifications</h2>
                    <h6 class="card-subtitle mb-2 text-muted">List of payment notifications from users.
                        Check notifications. After checking, If everyting is OK, confirm payments.</h6>
                    <div class="empty-form" style="margin-top: 25px;"></div>
                    {% for payment in payments %}
                        <p class="card-text"><b>User: </b>{{ payment.user.username }}</p>
                        <p class="card-text"><b>Who paid: </b>{{ payment.who_send }}</p>
                        <p class="card-text"><b>Purchased Note: </b>{{ payment.bought_note }}</p>
                        <p class="card-text"><b>Price: </b>{{ payment.bought_note.price }} TL</p>
                        <button class="confirmPayment btn btn-success float-lg-right"
                                style="margin-left: 10px; width: 180px"
                                username="{{ payment.user.username }}"
                                url="{% url 'confirm-payment' %}"
                                payment_id="{{ payment.id }}"
                                note_id="{{ payment.bought_note.id }}">
                            <i class="fa fa-check-circle"></i> Confirm Payment
                        </button><br><br>
                        <hr>
                        <!-- CANCELPAYMENTFORM FIELD -->
                        <h3 class="text-center">If you cancel payment</h3>
                        <form action="{% url 'cancel-payment-form' payment.user.username %}" method="post">
                        {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label" style="color: #0f0f0f"
                                               for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                        </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span style="color: red; font-family: 'Calibri Light'; font-size: 17px;"><b>{{ error }}</b></span>
                                            {% endfor %}
                                        {% else %}
                                            {% if field.help_text %}
                                                <span class="text-info"
                                                      style="color: dodgerblue">{{ field.help_text }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <!-- CANCELING WITH AJAX, GIVING CANCELING REASON WITH FORM (POST REQUEST) -->
                                    <button class="cancelPayment btn btn-secondary float-lg-right"
                                            style="margin-left: 10px; width: 180px"
                                            username="{{ payment.user.username }}"
                                            url="{% url 'cancel-payment' %}"
                                            payment_id="{{ payment.id }}"
                                            note_id="{{ payment.bought_note.id }}">
                                        <i class="fa fa-times"></i> Cancel Payment
                                    </button>
                                </div>
                            {% endfor %}
                        </form>
                        <br><br>
                        <hr>
                    {% empty %}
                        <h4 class="text-danger">There is no payment right now.</h4><br>
                    {% endfor %}
                    <a href="#" class="reloadContent card-link"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}