<div class="card" style="margin-top: 30px; margin-left: 90px; width: 32rem;">
    <div class="card-body">
        <h3 class="card-title">Information</h3>
        <h6 class="card-subtitle mb-2 text-muted">To see user contact information, click
        "View Contact Information" button.</h6>
        <p class="card-text">
        <h4 style="font-family: 'Trebuchet MS'">User Contact Information</h4>
        <!-- DATA WHICH COMES FROM AJAX REQUEST -->
        <p class="contactMessage" style="font-size:18px; font-family: 'Bahnschrift'; color: #10707f"></p>
        <p class="contactInfo" style="font-size: 18px; font-family: 'Bahnschrift'; color: orangered"></p>
    </div>
</div>