{% extends 'base.html' %}
{% block TITLE %}Notework{% endblock %}

{% block breadcrumb %}
    <nav class="col-sm-8 col-md-8 col-lg-8 offset-2" aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-top: 80px; border-radius: 55px;">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list-notes' %}">Homepage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notes</li>
        </ol>
    </nav>
{% endblock %}

{% block BODY %}

    <div class="col-sm-10 col-md-10 col-lg-10 offset-2 float-lg-right">
        {% for field in form %}
            <form class="form-inline">
                {{ field }}
                <button class="btn btn-warning my-2 my-sm-3 my-md-3" type="submit"
                        style="margin-left: 10px;">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
            {% if notes|length == 0 %}
            <h3 class="text-danger">Sorry, we couldn't find anything about "{{ search }}"</h3>
            {% else %}
            <h5 style="font-family: 'Trebuchet MS'; color: white">{{ notes|length }} note(s) listed.</h5>
            {% endif %}
        {% endfor %}
    </div><br><br>
    <hr class="col-lg-8">

    <div class="container">
        <div class="row">
            {% for note in notes %}
                <div class="col-sm-7 col-md-4 col-lg-4" style="margin-top: 25px;">
                    <div class="card bg-secondary" style="width: 23rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: ghostwhite; font-family: 'Trebuchet MS'">{{ note.title }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark">
                                <b style="font-family: 'Trebuchet MS'; color: lightskyblue">DEPARTMENT:</b> <b style="color: white; font-family: Bahnschrift">
                                {{ note.department }}</b></li>
                            <li class="list-group-item bg-dark">
                                <b style="font-family: 'Trebuchet MS'; color: lightskyblue">PRICE:</b> <b style="color: lightgreen; font-family: Bahnschrift">
                                 {{ note.price }}TL</b></li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'payment-page' note.slug %}"
                               class="card-link btn btn-warning float-lg-right">
                                <i class="fa fa-cart-plus"></i> Buy</a>
                            <a href="{% url 'note-detail' note.slug %}"
                               class="card-link btn btn-outline-light">
                                <i class="fa fa-search"></i> View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}